*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Open Sans', sans-serif;
}
.sidebar {
    width: 340px;
    background-color: white;
    color: black;
    left: 0;
  overflow-y: auto;
  height:1450px;
    border:1 px solid rgba(0, 174, 239, 1);
    margin: 0px;
    margin-left: 25px;
    border-radius:10px;
  }
  .course-banner-content{
  
    color: white;
    font-weight: 600;
    font-size: 36px;
    padding-top: 130px;

  }
  .pagination{
    display: flex;
    list-style-type: none;

  }
  .page-item{
margin: 15px;
   color: black; 
   text-align: center;
  
}
 .page-link{
    background-color: #D3D3D3;
    font-weight: 700;
    height: 40px;
    width: 40px;
   border-radius: 50%;
text-decoration: none;
color: black;
 }
  .page-link:hover{
    background-color: rgba(0, 174, 239, 1);
    color:white;

}
.pagination{
    display: flex;
    justify-content: center;
}
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
    width: 100%;
    padding: 15px 20px;
    text-align: left;
    background: none;
    border: none;
    font-weight:600;
    font-size: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
  }
  .sidebar-heading{
    background-color: rgba(0, 174, 239, 1);
    color:rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding: 1vh;

  }
  
  .menu-item:hover {
    background-color: rgba(0, 174, 239, 1);
    color:rgba(255, 255, 255, 1);
  }
  
  .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .submenu-item {
    padding: 10px 20px;
    background-color: white;
    color:black;
  }
  
  .submenu-item:hover {
    background-color: rgba(0, 174, 239, 1);
    color:rgba(255, 255, 255, 1);
  }
  .course-banner{
height:390px;
background-image: url('../Assets/course_banner.png');
background-repeat: no-repeat;
background-size: contain;
display: flex;
justify-content: center;
align-content: center;
  }
  .sidebar-top{
    display:flex;
    flex-direction: row;
    background-color: #EEEEEE;
  }
  .course-top{
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
  }

  .sidebar-card{    width:300px;
    height:340px;
    border-radius: 20px;
    overflow:hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    /* margin: 16px; */
   
}
.sidebar-card-header-div{
position:relative;
display:inline-block; 
height: 150px;
}

.sidebar-card-icon{
 position: absolute;
 top: 52px;
 left: 50%;
 transform: translateX(-50%);
 height: 100px;
 width: 143px;

}
.sidebar-card-header{
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    left: 45%;
    top:0px;
    transform: translate(-50%,-50%);
    color: white;
    /* padding:5px 5px; */
    text-align: center;
   

}
.sidebar-course-name{
    font-size:22px;
    font-weight:700;
    margin:0px 5px;
    color: rgba(0, 174, 239, 1);
   
}
.sidebar-course-details{
  
  text-align: center;
 
}

.sidebar-course-time{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.sidebar-course-date{  font-size: 20px;
font-weight: 400;
margin: 5px 0;

}
.sidebar-enroll-btn{
    border-radius:10px;
padding:10px 20px;
font-size:20px;
font-weight: 700;
background-color: rgba(0, 174, 239, 1);
color: white;
border: none;
margin-top: 5px;
margin-bottom: 10px;

}
.sidebar-card-heading{
    color:black;
text-align: center;
font-size: 20px;
font-weight: 700;
padding: 10px;
}
.sidebar-right{

    display: flex;
    flex-direction: column;
    margin-left:30px;
   
}
.sidebar-right-all{
    display:flex;
 flex-direction: row;
 justify-content: space-evenly;
margin: 10px;
gap: 10px;
}
.qa-automation{
  height:503px;
  width:90%;
  border-radius: 20px;
  background-image: url('../Assets/qa_background.png');
  background-repeat: no-repeat;
  background-size: 100%;
 margin:30px;
 padding:40px;
 /* padding-top: 40px; */
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin-left:11vh;
 box-shadow: 5px 5px 5px #000000;
 
}
.qa-automation-left{
  display: flex;
  flex-direction: row;

}
.qa-automation-left img{
  margin-right: -20px;
  height:180px;
  /* width: 258.33px; */
}
.fee{
  padding-top: 5vh;
  font-size: 16px;
  font-weight: 500;
}
.amount{
  font-size: 40px;
  font-weight: 600;
  background: linear-gradient( #00AEEF,#006489);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.qa-automation-middle{
  display:flex;
  flex-direction: column;
}
.qa-content{
  height:150px;
  width:700px;
  font-size:16px;
  font-weight:400;
text-align:center;
padding-top: 3vh;
}
.enroll-now{
  height:70px;
  width:260px;
  border-radius: 10px;
  border:1px;
  background-color: #00AEEF;
  color: white;
  padding:5px 30px 5px 30px;
  font-weight: 700;
  font-size: 32px;
  margin:2vh;
  box-shadow: 5px 5px 5px #000000;

}
.download{
  height:70px;
  width:358px;
  border-radius: 10px;
  border: 4px solid #00AEEF;
  padding:5px 20px 5px 20px;
  color:#00AEEF;
  font-size:32px;
  font-weight: 700;
  margin: 2vh;
  box-shadow: 5px 5px 5px #000000;
}
.qa-button{
 display: flex;
 justify-content: space-evenly;
}
.qa-right img{
  width:540px;
  height:370px;
  border-radius: 20px;
  /* border: 10px solid white; */
}
.certified{
  font-weight: 700;
  font-size:24px;
  color: white;
  text-align: right;
}
.key-highlights{
  height:210px;
  width:90%;
  margin-left: 11vh;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px #000000;
  border-radius:10px;
}
.key-highlights-content{
  display: flex;
  flex-direction: column;
  justify-content:center;
  cursor:pointer;
}
.key-highlights-para{
font-size: 16px;
font-weight: 600;
text-align:center;
}
.key-icons{
  height:60px;
  width:60px;
  background: linear-gradient( #00AEEF,#006489);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.key-highlights-header{
  display: flex;
  justify-content: space-evenly;
}
