*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Open Sans', sans-serif;
  
}

.login{
    display: flex;
    flex-direction: row;
    font-style: Open-Sans;
}
.login-label{
    font-size: 16px;
    font-weight: 600;
}
.login-left{
    width: 42vw;
    height: 100vh;
 
}
.login-with{
    width: 42vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.login-right{
   width: 58vw;
   height: 100vh;
   background-image: url('../Assets/sider.png');
    background-repeat: no-repeat;
background-position: center;
background-size:cover;
    color: white;
   padding:5vh;
}
/* .login-right-img{
    width:50vw;
    height:100vh;
} */
.welcome-back{
    margin-top: 3vh;
    font-weight:700;
    margin-bottom: 1vh;
    font-weight: 36px;
}
.login-top{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding-top: 109px;
   
}

.form-floating img{
    position:absolute;
    bottom: 22px;
    right:18px;
    width:30px;
    height:30px;
   
}
.login-mid-name{
  padding-top: 6vh;
   }
.icon-holder{
    display: flex;
    justify-content: space-evenly;
    font-size: 2.5rem;
    cursor: pointer;
    gap:7vh;
}
.icon-holder img{
  
    width: 2.4vw;
}
.login-continue{
    font-size: 24px;
    margin-bottom: 2vh;
    font-weight:400;
    color:rgba(0, 0,0,1);
}
.forgot-password{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color:#00AEEF;
    cursor: pointer;
}

.login-right-header{
    font-size: 32px;
    font-weight: 600;
    padding-bottom:1.2vh;
}
.login-right-span{
    font-weight:bold;
}
.login-right-content{
    padding-bottom: 1.2vh;
   font-size: 24px;
   font-weight: 600;
 
}

.login-option{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,1);
   padding: 1.5vh;
}
.go-to-register{
    padding: 1vh;
    font-size: 1.2rem;
    font-weight: 400;
}
.form-check{
    display:flex;
    gap: 80px;
    flex-direction:column;
}
#flexCheckDefault{
    margin-top:2vh;
}

.form-control{
    height:50px;
    width: 520px;
    border-radius: 5px; 
}
.btn{
    width:520px;
    height:50px;
    font-weight: bold;
    border-radius: 5px;
}
.btn-close{
    height: 25px;
    width:25px;
    border-radius: 50%;
    border: 1px solid blue;
    color: blue;
}
.register-head{
    padding-top: 3vh;
    padding-bottom: 2vh;
    font-size: 36px;
}
.icon-places{
    padding: 3vh;
    display: flex;
    justify-content: space-evenly;
}
.icon-text{
    height: 70px;
    width: 325px;
display: flex;
flex-direction: row;
object-fit:fill;
cursor: pointer;

}

.icon-text-img{
    height: 70px;
    width: 70px;
    margin-right:-8px;
    z-index: 1;   
}
.icon-text-holder{
    margin-left: -5px;
    height: 50px;
    width: 300px;
    z-index: 0;
    border-radius:5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
    margin-top: 1.5vh;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .icon-text:hover .icon-text-holder{
        font-size: 22px;
        background-color: #D3D3D3;
    }
    .icon-text:hover .icon-text-img{
        height:75px;
        width:75px;
    }
    .icon-text-holder-facebook{
        height: 50px;
        width: 300px;
       z-index: 0;
       border-radius:5px;
        margin-top: 1.25vh;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3B5998;
        color: white;
    }
    .icon-text:hover .icon-text-holder-facebook{
        font-size: 22px;
        background-color: #1275B1;
    }
    .icon-text-holder-linkedin{
        height: 50px;
        width: 300px;
       z-index: 0;
       border-radius:5px;
        margin-top: 1.25vh;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1275B1;
        color: white;
    }
    .icon-text:hover .icon-text-holder-linkedin{
        font-size: 22px;
        background-color: #4e88be;
    }
    .icon-text-holder-apple{
        height: 50px;
        width: 300px;
       z-index: 0;
       border-radius:5px;
        margin-top: 1.25vh;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        color: white;
    }
    .icon-text:hover .icon-text-holder-apple{
        font-size: 22px;
        background-color: #454545;
    }
    .star{
        color:red;
    }
    .icon-text-holder-email{
        height: 50px;
        width: 300px;
        z-index: 0;
        border-radius: 5px;
        margin-top: 1.25vh;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EA4335;
        color: white;
       
    }
    .icon-text:hover .icon-text-holder-email{
        font-size: 22px;
        background-color: #FF7F7F;
    }

.icon-places{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.login-link{
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
}
.link-to-register{
    color:#00AEEF;
    text-decoration-line: none;
    font-weight: bold;
}
.link-to{
    color:#00AEEF;
    text-decoration-line: none;
    font-weight: bold;
    font-size: 16px;
}
.form-error{
    color:red;
    font-size:12px;
    font-weight:bold;
}
.register-learning{
    font-size: 36px;
    margin-top: 2vh;
    margin-bottom: 1vh;
}
.steps-head{
    font-weight: 20px;
    font-weight: 500;
    padding-right: 3vh;
}
.step-one{
    height: 30px;
    width: 30px;
      border-radius: 50%;
    background-color: #00AEEF;


}
.step-two{
    height: 30px;
    width: 30px;
      border-radius: 50%;
    background-color: #D9D9D9;
}
.register-link-to{
    text-decoration-line: none;
}
.steps-head-two{
    font-size: 16px;
    color: black;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5px;
}
.steps-head-one{
    font-size: 16px;
    color: white;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5px;
}
.steps{
    height: 30px;
    width:276px;
    display: flex;
    flex-direction: row;
    padding:3vh;
    
    
}
.enter-otp{
   display:flex;
   justify-content: flex-start;
   padding-top: 1vh;
   font-weight:bold;
}
.otp-verify{
    padding: 2vh;
}
.otp-number{
    height:50px;
width: 50px;
border:1px solid #D3D3D3;
border-radius:5%;
box-shadow: darkgrey;
}
.otp{
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.register-btn{
    width: 520px;
    height: 50px;
    background-color: #00AEEF;
    color: white;
    font-weight: bold;
    font-size: 20;
    margin:1vh;
    border:0px;
    border-radius: 5px;
}
.floatingInputLabel{
    color:#D3D3D3;
}
.login-with-hachion{
    font-size: 14px;
}
.login-label-password{
    display: flex;
    justify-content: flex-start;
}
.topbar{
    height: 60px;
    background-color: rgba(0, 174, 239, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.topbar-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    padding-left: 2vh;
  
}
.query{
    height: 24px;
    width: 171px;
display: flex;
justify-content: center;
}
.query-content{
    font-size: 20px;
    font-weight: 700;
    color: white;
    cursor: pointer;

}
.whatsapp{
    height: 30px;
    width: 250px;
    cursor: pointer;
    display:flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}
.whatsapp-number{
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin-right: 1vh;
  
}
.training-mail{
    height: 30px;
    width: 257px;
    cursor: pointer;
    display:flex;
    flex-direction: row;
   justify-content: center;
    margin-left: -15px;
    color: white;
}
.training-email{
    font-weight: 700;
    font-size: 20px;
   
}
.close-btn{
    font-size: 2.5rem;
    color: rgba(0, 174, 239, 1);
    text-align: end;
    border: none;
    background-color: white;

}
.modal-body{
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
}
.success-gif{
    width: 80px;
    height: 80px;
   
}
.btn-login{
    width:137px;
    height:40px;
    border-radius:5px;
    padding:8px 20px 8px 20px;
    background-color: rgba(0, 174, 239, 1);
    color:white;
    font-weight: 700;
    font-size:20px;
    border:none;
    margin-left: 185px;
    margin-bottom: 20px;

}
.modal-footer{
    display: flex;
    justify-items: center;
}


.modal fade{
    width: 430px;
    height:294px ;
    border-radius: 20px 20px 20px 20px;
}
.modal-para{
    font-size:20px;
    font-weight: 400;
    color:rgba(22, 159, 44, 1);
}
.recover{
    font-weight:400 ;
    font-size: 36px;
    margin: 4vh;
}
.login-link-home{
    font-size: 20px;
    font-weight: 700;
  
    /* padding-right: 1vh; */
    text-decoration: none;
    color:white;
}
.login-div{
    display:flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 1.5vh;
    padding-right: 4vh;
}
.navbar{
    height:100px;
    background-color: rgba(255, 255, 255, 1);
}
.search-div{
    height:60px;
    width:509px;
    border-radius: 10px;
     margin-left:130px;
    border: 1px solid rgba(186, 186, 186, 1);
    /* padding: 0px 0px 0px 12px; */
    box-shadow: 5px 5px 5px #BABABA;
    display: flex;
}
.search-input{
flex:1;
padding-left: 20px;
/* border: none; */
border: 1px solid rgba(186, 186, 186, 1);

}
.btn-search{
    width:100px;
    height:58px;
    background-color: rgba(0, 174, 239, 1);
    color: white;
    border-radius: 0px 10px 10px 0px ;
    border:none;
    cursor: pointer;
    
}

.nav-item-link{
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
color:black;
}
.navbar-nav{
    width: 600px;
    display: flex;
    gap:10vh;
    margin-left:18vh;
  
}
/* .carousel-item{
    height:440px;
} */
.carousel-indicators [data-bs-target] {
   -webkit-background-clip: padding-box;
    background-color: #000000;
    /* border: 0; */
    border-radius: 50%;
    border-bottom: 10px solid #0000;
    border-top: 10px solid #0000;
    box-sizing: initial;
    cursor: pointer;
    flex: 0 1 auto;
    height: 12px;
    margin-left: 3px;
    margin-right: 3px;
    opacity: .5;
    padding: 0;
    text-indent: -999px;
    transition: opacity .6s ease;
    width: 12px;
    
}
.career-skills{
    font-weight: 700;
    font-size: 40px;
    color:rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
}
.discount{
    font-weight:700;
    font-size:48px;
    color:#EA4335;
}

.course-discount{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}
.coupon-btn{
    width:205px;
    height: 45px;
    background-color: #000000;
    color: white;
    border-radius: 30px;
    padding: 10px, 20px, 10px, 20px;
    font-size: 20px;
    font-weight: 600;
}
.banner-head{
    font-size: 40px;
    font-weight: 700;
    color: rgba(255,255,255,1);
    margin-bottom: 3vh;
}
.banner-content{
   display: flex;
 align-items: center;
   flex-direction: column;
   margin-right: 42vh;
    font-size: 32px;
    font-weight: 600;
    color: rgba(255,255,255,1);
}
.live-session{
    font-size: 40px;
    font-weight: 600;
    color: rgba(255,255,255,1);
    
}
.live-session-span{
    font-size: 32px;
    font-weight: 600;
}
.banner-second{
    font-size:32px;
    font-weight: 600;
}
.banner-content-second{
    display: flex;
    align-items:center;
      flex-direction: column;
      margin-right: 53vh;
      margin-bottom: 4vh;
      margin-left: -18vh;
  }
.register-now-btn{
    height:45px;
    width:169px;
    border-radius: 30px;
    padding:10px 20px 10px 20px;
    background-color: rgba(236, 201, 99, 1);
    color: #000000;
    border: none;
    margin-top: 2vh;
    font-size: 20px;
    font-weight: 600;
}
/* .carousel-indicators button{
    height: 12px important;
    width: 12px important;
    border-radius: 50% important;
    border: 1px solid black important;
    background-color: gray important;
}
.carousel-indicators .active{
    background-color: #000000 important;
} */
    
.association{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.association-head{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2%;
    background:linear-gradient(180deg, #00AEEF 0%, #006489 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.logos-slide img{
    height:70px;
    margin: 0 30px;
}
.logos-slide{
    display: inline-block;
 
    animation: 40s slide infinite linear;
}

.logos{
    overflow:hidden;
    padding: 50px 0;
    background-color: white;
    white-space: nowrap;
}
.logos:hover .logos-slide{
    animation-play-state: paused;
}

.view-all{
    height: 50px;
    width: 140px;
    border-radius: 10px;
    Padding:13px, 30px, 13px, 30px;
    background-color: rgba(0, 174, 239, 1);
    color:rgba(255, 255, 255, 1);
    font-weight:700;
    font-size: 20px;
    border: none;
  

}
.training-events-head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
   
}
.view-btn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: -2vh;
    margin-right: 25vh;
}
.card{
    width:300px;
    height:330px;
    border-radius: 20px;
    overflow:hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    background-color: #fff;
    margin: 16px;
    transition: all 0.3s ease;
}
.card-header-div{
position:relative;
display:inline-block; 

}
.card-image{
    display: block;
    width: 100%;
    height: 165px;
    /* object-fit: cover; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: all 0.3s ease;
    z-index: 0;

}

.card-img-div{
    position: absolute;
    top:50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(20px);
    transition: all 0.3s ease;
    z-index:0;
}
.card-icon{
 position: absolute;
 top: 50px;
 left: 50%;
 transform: translateX(-50%);
 height: 90px;
 z-index: 1;
 transition: all 0.3s ease;
}
.card-header{
    font-weight: 600;
    font-size: 20px;
    font-style:italic;
    position: absolute;
    left: 47%;
    border-radius:10px;
    top:10px;
    transform: translate(-50%,-50%);
    padding:5px 5px;
    text-align: center;
    

}
.course-name{
    font-size:20px;
    font-weight:400;
    margin: 5px 0;
    transition: all 0.3s ease;
}
.course-details{
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.course-time{
    display: flex;
    justify-content: space-between;
    gap: 8vh;
}
.course-date{  font-size: 20px;
font-weight: 400;
margin: 5px 0;
transition: all 0.3s ease;
}
.enroll-btn{
    border-radius:10px;
padding:10px 20px;
font-size:20px;
font-weight: 700;
background-color: rgba(0, 174, 239, 1);
color: white;
border: none;
margin-top: 5px;
transition: all 0.3s ease
}
.enroll-btn:hover{
    background-color: darkblue;
}
.card:hover .card-img-div{
    width:140px;
    height: 150px;
    filter: blur(10px);
}
.card:hover .card-image{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card:hover .course-details{
    background-color:rgba(0, 174, 239, 1) ;
color: white;
}
.card:hover .card-icon{

    height: 100px;
}
.card:hover .enroll-btn{
    background-color: white;
    color: #000000;
}
.card:hover .enroll-btn:hover{
    background-color: #000000;
    color: white;
}
.training-card-holder{
    display: flex;
    flex-direction: row;
    justify-items: space-around;
   margin-left: 18vh;
}
    .courses-list{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 2vh;
        
        
    }
    .course-names{
        font-weight:400;
        font-size: 20px;
        color: grey;
        text-decoration: none;
        border-bottom: 2px solid white;
        transition: color 0.3s, border-color 0.3s;
       
    }
    .course-names:hover{
        color:black;
        border-bottom: 2px solid rgba(0, 174, 239, 1);
        transition: color 0.3s, border-color 0.3s;
    }
    .course-name,.course-date{
        margin: 5px 0;
        transition: all 0.3s ease;
    }
    .course-date{
        font-size: 1rem;
        color:black;
    }

.course-review{
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}
.star-icon{
    height:19px;
    width:20px;
    color:rgba(251, 188, 5, 1);
}
.course-month{
    font-size:16px;
    font-weight:400;

}
.online-training-div{
    height:251px;
    width:300px;
    border: 1px solid rgba(97, 97, 97, 1);
    border-radius: 10px;
    border-left: 10px solid rgba(0, 174, 239, 1);
    display: flex;
   justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}
.online-training-div img{
    height:90px;
    width:90px;
}
.career-div{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding:2vh;
}
.Live-online{
    font-weight: 700;
    font-size: 20px;
    padding-top: 1.5vh;
}
.training-content{
    font-weight:400;
    font-size:16px;
   color: rgba(97, 97, 97, 1);
   padding:2vh;
   align-content: center;
}
 .learner-cover{
  
     height: 450px;
     width: 100%;
     background-image: url('../Assets/rectangle123.png');
     object-fit: cover;
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     align-items: center;
    justify-items: center;
    z-index: 0;
   
    }
    .learner-card{
        height: 340px;
        width: 600px;
        border-radius: 30px;
        background-color: rgba(255,255,255,1);
      
        margin-top:30px;
       
    }
    .learner-image{
        height: 140px;
        width:140px;
        border-radius: 50%;
        border:5px solid white;
        margin-left: 51px;
        margin-top: -5vh;
    }
    .learner-image img{
        height: 140px;
        width: 140px;
        border-radius: 50%;
    }
    .learner-top{
        display: flex;
        flex-direction: row;

    }
    .name{
        font-weight:600;
        font-size: 24px;
        padding-bottom: 0vh;
    }
    .learner-name{
       display: flex;
       flex-direction: row;
    }
    .learner-name img{
        height: 32px;
        width: 32px;
        margin-left: 2vh;
    }
    .learner-info{
        height: 165px;
        margin-left: 4vh;
        padding: -2vh;
        margin-top: 2vh;
        display: flex;
        flex-direction: column; 
        justify-content: center;
      
    }
    .job-profile{
        font-weight:400;
        font-size:24px;
        font-style: italic;
    }
    .job-location{
        font-weight: 400;
        font-size: 20px;
    }
    .learner-description{
        font-weight: 400;
        font-size: 20px;
        margin-left: 5vh;
        margin-right: 7vh;
        margin-top: 0vh;
    }
    .footer{
        background-color:black;
        color:white;
        height:412px;
        display: flex;
        margin-top: 10vh;
        flex-direction: column;
        justify-content: space-evenly;
   
    }
    .footer-top{
        margin-top:4vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
 .footer-copyright{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
 }
    .learner-card-item{
        display: flex;
        flex-direction: row;
        margin-left: 20vh;
        margin-top: 30px;
        gap:5vh;
    }
    .footer-heading{
        font-weight:600;
        font-size:18px;
    }
    .footer-content{
        font-weight:400 ;
        font-size: 18px;
    }
    .footer-bottom{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer-link{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 12vh;
        gap: 4vh;
        
    }
    .footer-link img{
        height: 30px;
        width: 30px;
        cursor:pointer;
     
    }
